In [74]:
# Dependencies
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import scipy.stats as st
from scipy.stats import linregress
from pandas.core.reshape.pivot import pivot

In [120]:
# Read CSV
df1 = pd.read_csv("raw_data/2017-18-vacancy.csv")
df2 = pd.read_csv("raw_data/2018-19-vacancy.csv")
df3 = pd.read_csv("raw_data/2019-20-vacancy.csv")
df4 = pd.read_csv("raw_data/2020-21-vacancy.csv")
df5 = pd.read_csv("raw_data/2021-22-vacancy.csv")

In [121]:
df1.columns

Index(['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate'],
      dtype='object')

In [122]:
df2.columns

Index(['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate'],
      dtype='object')

In [123]:
df1.tail()

,Postcode,Bedrooms,RentalUnitDesc,VUDate,VTDate,TENDate,RUUseType,HousingServiceCentre,VUDays,VTDays,TotalVAC,LGA,StateElectorate
7719,4215,2,APARTMENT,11/06/2018,13/06/2018,15/06/2018,Community Housing,204,2,2,4,GOLD COAST,SOUTHPORT
7720,4575,3,DETACHED HOUSE,14/06/2018,20/06/2018,20/06/2018,Community Housing,205,6,0,6,SUNSHINE COAST,KAWANA
7721,4551,3,DUPLEX,14/06/2018,20/06/2018,20/06/2018,Community Housing,205,6,0,6,SUNSHINE COAST,CALOUNDRA
7722,4551,3,DUPLEX,15/06/2018,20/06/2018,20/06/2018,Community Housing,205,5,0,5,SUNSHINE COAST,CALOUNDRA
7723,4814,3,DETACHED HOUSE,18/06/2018,22/06/2018,22/06/2018,Community Housing,201,4,0,4,TOWNSVILLE,MUNDINGBURRA

In [124]:
#Fixing column names and reordering as needed
df3 = df3.rename(columns= {'PropertyType':'RentalUnitDesc', 'TotalVacDays':'TotalVac', 'LocalGovtAuthority':'LGA'})
neworder = ['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate']
df3=df3.reindex(columns=neworder)
df3.columns

Index(['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate'],
      dtype='object')

In [125]:
df3.tail()

,Postcode,Bedrooms,RentalUnitDesc,VUDate,VTDate,TENDate,RUUseType,HousingServiceCentre,VUDays,VTDays,TotalVAC,LGA,StateElectorate
7609,4720,2,Apartment,1/06/2020,1/06/2020,1/06/2020,Public Housing,EMERALD HSC,1,1,2,Central Highlands,Gregory
7610,4030,1,Apartment,1/06/2020,1/06/2020,1/06/2020,Community Housing,FORTITUDE VALLEY HSC,0,0,0,Brisbane,Clayfield
7611,4030,1,Apartment,1/06/2020,1/06/2020,1/06/2020,Community Housing,FORTITUDE VALLEY HSC,0,0,0,Brisbane,Clayfield
7612,4030,1,Apartment,1/06/2020,1/06/2020,1/06/2020,Community Housing,FORTITUDE VALLEY HSC,0,0,0,Brisbane,Clayfield
7613,4680,3,Detached House,1/06/2020,1/06/2020,1/06/2020,Public Housing,GLADSTONE HSC,0,3,3,Gladstone,Gladstone

In [126]:
#Fixing column names and reordering as needed
df4 = df4.rename(columns= {'PropertyType':'RentalUnitDesc', 'Program':'RUUseType',  'LocalGovtAuthority':'LGA'})
df4=df4.reindex(columns=neworder)
df4.columns

Index(['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate'],
      dtype='object')

In [127]:
df4.dtypes

Postcode                 int64
Bedrooms                 int64
RentalUnitDesc          object
VUDate                  object
VTDate                  object
TENDate                 object
RUUseType               object
HousingServiceCentre    object
VUDays                   int64
VTDays                   int64
TotalVAC                 int64
LGA                     object
StateElectorate         object
dtype: object

In [128]:
#Fixing column names and reordering as needed
df5 = df5.rename(columns= {'PropertyType':'RentalUnitDesc', 'Program':'RUUseType', 'TotalVacDays':'TotalVac', 'LocalGovtAuthority':'LGA'})
df5=df5.reindex(columns=neworder)
df5.columns

Index(['Postcode', 'Bedrooms', 'RentalUnitDesc', 'VUDate', 'VTDate', 'TENDate',
       'RUUseType', 'HousingServiceCentre', 'VUDays', 'VTDays', 'TotalVAC',
       'LGA', 'StateElectorate'],
      dtype='object')

In [129]:
df5.dtypes

Postcode                 int64
Bedrooms                 int64
RentalUnitDesc          object
VUDate                  object
VTDate                  object
TENDate                 object
RUUseType               object
HousingServiceCentre    object
VUDays                   int64
VTDays                   int64
TotalVAC                 int64
LGA                     object
StateElectorate         object
dtype: object

In [130]:
#Concatenating all dataframes
#df = pd.concat([df1, df2, df3, df4, df5])
df = pd.concat([df1, df2, df3, df4])
df= pd.concat([df, df5])
#Dropping nan values
df = df.dropna(subset=['TotalVAC'],inplace = False)
#Dropping rows with 0 days vacant
df = df[df.TotalVAC != 0]
df.shape

(31757, 13)

In [131]:
#Create two new columns for year and month
Years = []
Months = []
#Convert date string to year and month
date_splited = []
dates = pd.Series(df['TENDate'])
for date in dates:
    if '/' in date:
        date_splited = date.split('/')
        Years.append(date_splited[2].strip())
        Months.append(f'{date_splited[2]}-{date_splited[1]}')
    elif '-' in date:
        date_splited = date.split('-')
        Years.append(f'20{date_splited[1].strip()}')
        Months.append(date_splited[0].strip())
    else:
        Years.append(date)

print(len(dates))
print(len(Years))
df['Year'] = Years
df['Month'] = Months

31757
31757

In [132]:
df['Year'].unique()

array(['2017', '2018', '2019', '2020', '2021', '2022'], dtype=object)

In [133]:
#Check rental unit description's case
df['RentalUnitDesc'].unique()

array(['DETACHED HOUSE', 'APARTMENT', 'SENIOR UNIT', 'DUPLEX',
       'ATTACHED HOUSING', 'CLUSTER HOUSING', 'DUAL OCCUPANCY',
       'Townhouse', 'Detached House', 'Apartment', 'Cluster House',
       'Duplex', 'Room', 'Dual Occupancy'], dtype=object)

In [134]:
#Realign the case type of RentalUnitDesc
#Convert Upper case to title case
for index, row in df.iterrows():
    rentalunit = row['RentalUnitDesc']
    #print(rentalunit)
    if rentalunit.isupper():
        df.loc[index, 'RentalUnitDesc'] = rentalunit.title()

df['RentalUnitDesc'].unique()

array(['Detached House', 'Senior Unit', 'Attached Housing', 'Apartment',
       'Cluster Housing', 'Duplex', 'Dual Occupancy', 'Townhouse'],
      dtype=object)

In [135]:
#Write to CSV
df.to_csv("Processed/all_vacancy_data.csv")
df.tail()

,Postcode,Bedrooms,RentalUnitDesc,VUDate,VTDate,TENDate,RUUseType,HousingServiceCentre,VUDays,VTDays,TotalVAC,LGA,StateElectorate,Year,Month
3766,4205,2,Detached House,21/06/2022,22/06/2022,22/06/2022,Public Housing,LOGAN HSC,1,0,1,Logan,Waterford,2022,2022-06
3767,4124,4,Detached House,22/06/2022,23/06/2022,23/06/2022,Public Housing,LOGAN HSC,1,0,1,Logan,Logan,2022,2022-06
3768,4207,3,Duplex,23/06/2022,24/06/2022,24/06/2022,Public Housing,LOGAN HSC,1,0,1,Logan,Macalister,2022,2022-06
3769,4655,3,Detached House,27/06/2022,28/06/2022,28/06/2022,Public Housing,MARYBOROUGH HSC,1,0,1,Fraser Coast,Hervey Bay,2022,2022-06
3770,4506,4,Senior Unit,27/06/2022,28/06/2022,28/06/2022,Public Housing,MORETON BAY HSC,1,0,1,Moreton Bay,Morayfield,2022,2022-06